{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>

    <div class="section-title pt-5" data-aos="fade-up">
        <h2>New Category</h2>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3" data-aos="fade-up">
                <div class="row">
                    <div class="fakeimg">
                        <img class="card-img-top" src="{% static 'images/Books-PNG-Image-HD.png' %}" alt="Card image"><br>
                    </div>
                </div>
            </div>

            <div class="col-lg-9" data-aos="fade-up">
                <form method="POST" enctype="multipart/form-data" data-aos="fade-up">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p class="text-end">
                        <button type="button" class="btn btn-secondary" onclick="history.back()">
                            <i class="fa fa-rotate-back"></i> Back
                        </button>
                        <button type="submit" class="btn btn-lg btn-success">
                            <i class="fas fa-plus"></i>&nbsp; Save
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}