<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

<style>
    body {
        background-image: url("{% static 'images/allImages/bg_signup.png' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<head>
    <link type="text/css" rel="stylesheet"
          href="{% static 'stylesheets/BT523/css/bootstrap.css' %}">
    <script src="{% static 'stylesheets/BT523/js/bootstrap.bundle.js' %}"></script>
</head>

<body>
<div class="row">
    <div class="col col-4"><br></div>
    <div class="col col-4">
        <br>
        <form method="POST" class="form-control">
            <div class="text-lg-end">
                <a href="{% url 'home' %}">
                    <h5><i class="fas fa-home text-dark"></i></h5>
                </a>
            </div>
            <div class="mb-3 mt-6 text-center"><h3>
                <label>สมัครสมาชิก</label>
            </h3></div>

            {% csrf_token %}
            {{ form.as_p }}

            <p class="text-center">
                <button type="button" class="btn btn-secondary" onclick="history.back()">
                    <i class="fa fa-rotate-back"></i> ย้อนกลับ
                </button>
                <button type="submit" class="btn btn-lg btn-success">
                    <i class="fa-solid fa-floppy-disk"></i> บันทึก
                </button>
                <button type="reset" class="btn btn-danger">&nbsp; เคลียร์ &nbsp;&nbsp;</button>
            </p>
            <div class="col-12 text-center">
                <p class="small mb-0">ต้องการเข้าสูระบบ? <a href="{% url 'customerRegister' %}"> Log In</a>
                </p>
            </div>
        </form>
    </div>
    <div class="col col-4"><br></div>
</div>
</body>

</html>