{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <br>
    <div class="section-title pt-5" data-aos="fade-up">
        <h2>E-Book Shop</h2>
    </div>

    <table data-aos="fade-up">

        <div class="row" data-aos="fade-up">

            {% for ebook in ebooks %}
                <div class="column" data-aos="fade-up">
                    <td class="col-lg-3" data-aos="fade-up">
                        <img src="{% static ebook.picture %}" width="250px" class="img img-thumbnail"><br><br>
                        รหัส: {{ ebook.bid }}<br>
                        ชื่อ: {{ ebook.name }} <br>
                        ประเภท: {{ ebook.category.type }} <br>
                        <p class="text-center">ราคา: {{ ebook.price | floatformat:2 }} </p><br>

                        <form method="POST" class="text-lg-end">
                            {% csrf_token %}
                            <input type="hidden" name="bid" value="{{ ebook.bid }}">
                            <input type="number" name="qnt" value="1" min="1" max="20" style="width:75px">
                            <button type="submit" class="btn btn-success">
                                <img src="{% static 'images/allImages/222.png' %}" width="25px">
                            </button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        </form>
                    </td>
                </div>
                <td class="ql-bg-black"><br><br></td>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    <tr>
                        <td class="ql-bg-black"><br></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </div>
    </table>
    <br>
{% endblock %}