{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block content %}
    <br>
    <div class="section-title pt-5" data-aos="fade-up">
        <h2>Update E-Book</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3" data-aos="fade-up">
                <div class="row">
                    <div class="fakeimg">
                        <img class="card-img-top" src="{% static 'images/bookshelf_icon-icons.com_54414.png' %}" alt="Card image"><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-9" data-aos="fade-up">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <br>
                    <div class="text-end">
                        <a type="button" class="btn btn-secondary" onclick="history.back()">
                            <i class="fa fa-rotate-back"></i> Back
                        </a>
                        <button type="submit" class="btn btn-lg btn-warning">
                            <i class="fa fa-tools"></i> Update
                        </button>
                    </div>
                </form>
                <br><br>
            </div>
        </div>
    </div>

{% endblock %}